<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search_series" method="post">
        <div>
            <input type="text" id="series_name" name="series_name" placeholder="Series Name">
        </div>
        <div>
            <input type="text" id="publisher" name="publisher" placeholder="Publisher">
        </div>
        <div>
            <input type="number" id="start_year" name="start_year" placeholder="Series Start Year">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>