{% extends "base.html" %}

{% block content %}
<form action="/search_series" method="post">
    <div>
        <input type="text" id="series_name" name="series_name" placeholder="Series Name">
    </div>
    <div>
        <input type="text" id="publisher" name="publisher" placeholder="Publisher">
    </div>
    <div>
        <input type="number" id="start_year" name="start_year" placeholder="Series Start Year">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
